<div class= jumbotron>
  <h1>Hair Salon</h1>
</div>
<button type="button" class="btn btn-info" onclick="window.location.href='/Stylists/Index';">All Stylists</button>
<button type="button" class="btn btn-info" onclick="window.location.href='/Stylists/Index';">All Stylists</button>