<div id="header">  
  <p>Hair Salon</p>
</div>
<form class="form-inline" id="searchbar" action="/{searchType}/Search" method="post">
  <div class="form-group">
    <select id="searchType" name="searchType" class="form-control">
      <option value="stylist">Stylist</option>
      <option value="client">Client</option>
    </select>
    <input type="text" id="searchText" name="searchText" class="form-control">
    <button type="submit" class="btn btn-info">Search</button>
  </div>
</form>
